<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок нашего сайта</title>
</head>
<body>

    <h1>{{ title_h1 }}</h1>
    <h2>Не такой большой заголовок</h2>
    <h3>Заголовок третьего уровня, их всего шесть уровней</h3>
    <p>Здесь абзац</p>
    <p>{{ text }}</p>
    <br>
    <button>Я - кнопка!</button>
    <br>
    <br>
    <button><h1>Кнопка, комбинированная с другим тегом</h1></button>
    <br>
    <br>
    <a href="https://uguide.ru/tablica-osnovnykh-tegov-html-s-primerami">
        А это ссылка на основные теги HTML.
    </a>
    <ul>
        <li>Я в теге - маркированный список</li>
        <li>Я в теге - маркированный список</li>
        <li>Я в теге - маркированный список</li>
        <li>Я в теге - маркированный список</li>
    </ul>
    <ul>
        <ol>Я в теге - немаркированный список</ol>
        <ol>Я в теге - немаркированный список</ol>
        <ol>Я в теге - немаркированный список</ol>
        <ol>Я в теге - немаркированный список</ol>
    </ul>
    {% for elem in list_in_context %}
        <p>{{ elem|upper }}</p>
    {% endfor %}
    <br>Далее идет пример с цифрами
    {% for elem in list_number %}
        <p>{{ elem|floatformat:3 }}</p>
    {% endfor %}
    {% if len_list_number > 4 %}
        <h2>ОКЕЙ</h2>
    {% else %}
        <h2>НЕ ОКЕЙ</h2>
    {% endif %}
</body>
</html>