{% extends 'index2.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block header %}
        {{ block.super }}
        <h1>Выше враки :(</h1>
        <h1>Я - Третья страница, просто взяла наследство от второй</h1>
    {% endblock %}

    {% block content %}
        <p>Меню у второй страницы неплохое, его я оставила.</p>
        <p>Для этого мне не пришлось ничего прописывать в "body".
            Меню унаследовалось автоматически полностью.</p>
        <p>А весь контент я заменила на новый.</p>
        <p> Страница добавлена в путях urls.py без объявления функции или класса</p>
        <p> Просто если в классе, кроме объявления шаблона,
            нет других данных и дополнительной логики, которую мы внутри класса описывали бы,
            то шаблон можно просто прописать в маршруте</p>
    {% endblock %}

    {% block footer %}
        <p>Подвальная информация у второй страницы тоже хороша.</p>
        <p>Я подвал оставила, но просто дополнила.</p>
        {{ block.super }}
    {% endblock %}

</body>
</html>